html body{
	background-color: grey;
	background-size: cover;
    
}

#kalender{
    width: 500px;
    height: 610px;
    border-radius: 25px;
    border: 5px solid;
    background-color: white;
    box-shadow: 4px 4px 2px #aaaaaa;
    
}

#uitkomst{
    width: 435px;
    height: 75px;
    border-radius: 25px;
    border: 5px solid;
    background-color: white;
    margin-top: 33px;
    box-shadow: 4px 4px 2px #aaaaaa;
}

#answer{
    width: 435px;
    height: 165px;
    border-radius: 25px;
    border: 5px solid;
    background-color: white;
    box-shadow: 4px 4px 2px #aaaaaa;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item1{
    z-index: 500;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 106px;
 }

 .flex-item2{
    flex-direction: column;
    margin-left: 170px;
    margin-top: -93px;
}

 #form11{
    margin-top: 30px;
    margin-left: 65px;
 }

 #today{
    margin-left: 10px;
    margin-top: 10px;

 }

 .today{
    background-color: grey;
 }

 #date{
    padding: 10px;
 }

html tr{
    background-color: grey;
    
}
